@media screen and (max-width: 1200px){
	.serv_steps_sec > div{
		width: 90vw;
	}
}
@media screen and (max-width: 1100px){
	.es_wrap{
	width: 90vw;
	}
	.mv_slide{
	left: 5%;
	}
	.mv_visual svg{
	margin-right: -20%;
	}
	.hms_title h2,
	.hws_head h2{
	font-size: 1.6em;
	}
	.hwsc_icons img{
	width: 180px;
	}
	.hwsc_icons {
	right: 3%;
	}
	.hwsc_inner{
	padding: 7vw 7vw 7vw 8vw;
	}
	.hwsc_sliobj{padding-right: 50px;}
	.tls_slide_obj{padding: 0 15px;}
	.hms_scrable p{
		font-size: 1rem;
	}
	.brandname_wrap{width: 90vw;}
	.pabt_slogan, .pabt3_cont{
		width: 80%;
	}
}

@media screen and (max-width: 900px){
	

	#menu_first > li:hover .sub-menu,
	.timeline_chart{
		display: none;
	}
	#menu_first span{
		display: block;
	}
	header{
	top: 0;
	}
	header.srlfix{
	padding: 0;
	}
	header .es_wrap{
	display: block;
	align-items: unset;
	}
	header .es_wrap{
	margin: 1em auto;
	position: relative;
	}
	.menuopen{
	display: block;
	}
	.headcta, 
	.menuopen{
	position: absolute;
	right: 0;
	top: 0;
	}
	.headcta{
	position: absolute;
	right: 30px;
	top: 12px;
	}
	.secsli_title_wrap h2{
	width: 100%;
	}
	.hms_nav_el{
	margin: 0 0 0 5vw;
	font-size: 0.9em;
	line-height: 1.4;
	}
	.hts_content{
	width: 90vw;
	left: 5vw;
	}
	.hws_head{
	padding: 10vh 0 5vh;
	}
	.hms_scrable{width: 55vw;}
	.hms_fixa{width: 45vw;}
	.hms_nav{
	white-space: nowrap;

	overflow-y: scroll;
	width: 100%;
	text-align: left;
	}
	.hms_head{text-align: center;}
	.hms_title{
	width: 90%;
	margin: 0 auto 20px;
	text-align: left;
	}
	.hms_head .es_wrap{
	width: 100%;
	}
	.timl_next, .timl_prev{top: 40%;}

	.foot_navs,
	.footb_nav{
		float: initial;
	}
	.footnav > li:nth-child(1),
	.footnav > li{
		width: 49%;
		display: inline-block;
		margin: 0 0 1rem;
	}
	.footnav > li > a{
		opacity: .5;
	}
	#esnav{
		position: fixed;
		left: 0;top: 0;width: 100%;height: 100%;
		background: #fff;
		display: none;
		animation: fadeInLeft .5s;
	}
	#eslogo, .headcta, .menuopen{
		z-index: 990;
	}
	.main_menu{
		margin: 6rem auto 0;
		width: 90vw;
		border-top: 1px solid #D1D1D1;
	}
	#menu_first > li{
		display: block;
	}
	#pageService{
		padding: 5rem 0 0;
	}
	.sermain_text{
		padding: 5rem 6vw;
	}
	.sermain_text h1{
		font-size: 2rem;
	}
	.anades_cube{
		width: 20vw;
		height: 20vw;
	}
	.servana_sec h2{
		margin: 4rem 0 2rem;
	}
	.ana_colordes_wrap > div{
		padding: 1rem;
	}
	.ana_colordes_wrap{margin: 0;}
	.servana_colordes {
		padding: 5rem 0 0;
	}
	.srcta_point{
		padding: 2rem;
		border: 0;
	}

	.sigfound_leader figure{    
		width: 10rem;
		height: 10rem;
	}
	.inte_top > div{
		width: 63%;
	}
	#pageRecruit{
		padding: 5rem 0 0;
	}
	#menu_first .sub-menu{
		position: relative;
	}
	#menu_first .sub-menu a{
		width: 100%;
	}
	#menu_first span.open ~ .sub-menu{
		display: block;
	}
	.cate_nav a{
		font-size: 1rem;
	}
}
@media screen and (max-width: 768px){
	h1{
		font-size: 3rem;
	}
	.sigpsec_top:before,
	.hms_fixa,
	.hwsc_slider:after{
	display: none;
	}
	.hwsc_image, .hws_content_wrap,
	.hms_scrable, .mo_img, .hwsc_slider, .hwsc_cont,
	.thcolums, .foot_navs, .foot_logo,
	.hws_head > div{
	display: block;
	width: 100%;
	float: initial;
	}
	.hws_head{
	display: block;
	text-align: center;
	}
	.hws_nav > div{
	margin: 0 20px;
	}
	.hws_nav{
	text-align: center;
	}
	.hwsc_image{
	padding-bottom: 50%;
	}
	.hms_scrable > div{
	height: auto;
	}
	.hwsc_numbs, .hwsc_nextprev{
	width: 50%;
	}
	.hwsc_nextprev{
	text-align: right;
	}
	.hwsc_sliobj{
	padding: 0 10vw 0 0;
	}
	.hwsc_inner{
	padding: 15vw 5vw 20vw;
	}
	.hwsc_icons img{
	width: 30vw;
	}
	.thco_obj{
	width: 100%;
	height: auto;
	min-height: auto;
	}
	.thco_obj > div{
	position: relative;
	top: initial;
	left: initial;
	width: 100%;
	transform: none;
	padding: 20vw 5vw;
	}
	.thco_imgs{
	opacity: 1;
	transform: none;
	}
	.footnav{
	margin: 0 3em 0 0;
	}
	.dia_content{
	width: 80%;
	}
	.tls_slide_obj,
	.tls_slide_obj.has_thumb{
	width: 85vw;
	padding: 0 10px;
	}
	.tls_slide_obj.has_thumb > div{
	display: block;
	}
	.tlsobj_img{
	height: 53vw;
	}
	.tlsobj_text{
	padding: 20px;
	height: 50vh;
	}
	.tlsobj_text .esbtn a{
		padding: 1rem 0;
	}
	.tls_slide_obj.has_thumb .tlsobj_text{
	width: 100%;
	height: auto;
	}
	.tls_slide_obj.has_thumb .tlsobj_img{
	width: 100%;
	}
	.tlsobj_img figure{
	position: absolute;
	top: 0;
	}
	.tlsobj_text i{
	right: 20px;
	top: 20px;
	}
	.brandname{
		width: 100%;
		margin: 0;
	}
	.brandname:nth-child(2){
		margin: -5rem 0 0;
	}
	.pabt_sec1{
		padding: 8rem 0 0;
	}
	.pabt4_cont h2{
		text-align: center;
	}
	.pabt_group_wrap{
		grid-auto-flow: row;
	}
	.pabt4_cont:before{
		height: 100%;
	}
	.pabt4_cont {
		margin: -3rem 0 0;
		padding: 0 0 5rem;
	}
	.pabt_sec5{
		padding: 5rem 0;
	}
	.pabt_sec5 h2{
		width: 100%;
		text-align: center;
		margin: 0 0 3rem;
	}
	.pabt_advan:nth-child(2){
		margin: 0;
	}
	.pabt_advan{
		width: 100%;
		float: initial;
		height: 30rem;
	}
	.smv_wrap > div{
		width: 100%;
		text-align: center;
	}
	.smv_wrap{
		flex-direction: column;
		justify-content: center;
	}
	.sigfound_img{
		position: relative;
		top: 0;
	}
	.sigfound_leader{
		padding: 0;
	}
	.sigfound_leader figure{
		width: 40vw;
		height: 40vw;
	}
	.sigpsec_top h2{
		width: 100%;
		max-width: 100%;
		text-align: center;
		margin: 0 0 2rem;
	}
	.sigpsec_top{
		padding: 5rem 0;
	}
	.sigpoin1_icon:nth-child(2),
	.sigpoin1_icon:nth-child(3){
		margin: 0;
	}
	.sigtop_icon figure{
		width: 20vw;
		height: 20vw;
	}
	.sigpoin1_icon{
		width: 33.33333%;
		padding: 1rem;
	}
	.sigtop_img{
		top: 0;
		width: 80%;
	}
	.sigpsec_btm{
		padding: 60vw 0 5rem;
	}
	.sigpsec_btm h2{
		text-align: center;
	}
	.ana_colordes_wrap > div,
	.recslider{
		width: 100%;
	}
	.recslide_wrap{
		flex-direction: column;
	}
	.recsli_img{
		width: 100%;
		height: 30vh;
	}
	.recslider{
		padding: 3rem 5vw;
		text-align: center;
	}
	.recslider .hwsc_nextprev{
		width: auto;
		margin: 0;
	}
	.hwsc_prev.rec1,
	.hwsc_next.rec1{
		margin: 1rem;
	}
	.recjob{
		flex-direction: column;
	}
	.recjob > div{
		margin: 0 0 .5rem;
	}
	.pabt3_cont{
		padding: 5rem 0;
	}
	.pabt_sec4 .paraani{
		transform: none !important;
	}
	.pabt4_cont {
		margin: 0;
		padding: 5rem 0;
	}
	#menu_first > li > a{
		border-bottom: 1px solid #D1D1D1;
		padding: 1rem 0;
	}
	.blog_wrap{
		flex-direction: column;
	}
	.blog_wrap article,
	.blog_wrap aside{
		width: 100%;
	}
	.cate_nav{
		padding: 0 0 2rem;
	}
	.cate_nav a{
		line-height: 3rem;
	}
	.cate_nav li{
		border-bottom: 1px solid #D1D1D1;
	}
	.secb_thumb,
	.secb_thumb img{
		height: auto;
	}
	.blogsingle{
		padding: 2rem;
	}
	.edit_style blockquote{
		width: 100%;
	}
	.blogtag > div{
		margin: 0 1rem 1rem 0;
	}
	.sharetag{
		flex-direction: column;
	}
	.blogshare a, .blogshare span{
		margin: 0 1rem 0 0;
	}
	.sestep_wrap{
		flex-direction: column;
	}
	.step_lists_wrap{
		height: 70vh;
	}
	.step_numbers {
		position: relative;
		flex-direction: initial;
		margin: 0;
	}
	.sestep_repeat_cont, .sestep_reapeat_title{
		width: 100%;
	}
	
	.step_numbers > div {
		height: auto;
		width: 33%;
		justify-content: center;
		margin: -1rem 0 0;
	}
	.sestep_reapeat_title > div{
		display: none;
	}
	.sestep_reapeat_title > div.active{
		display: block;
	}
	.sestep_reapeat_title p {
		font-size: 1rem;
	}
	.sestep_reapeat_title h3 {
		font-size: 1.4rem;
	}
	.sestep_reapeat_title{
		padding: 0;
	}
	.sestep_title{
		text-align: center;
		margin: 0;
	}
	.sestep_title h2 {
		float: initial;
	}
	.serv_steps_sec{
		padding: 7rem 0 5rem;
	}
}
@media screen and (max-width: 550px){
	h1{font-size: 2.8em;}
	h2{font-size: 1.6em;}
	.hwsc_sliobj{padding: 0;}
	#eslogo{ width: 150px;}
	.hts_bg figure{background-position: 80%;}
	.headcta{top: 8px; font-size: 13px;}
	.menuopen{top: -5px;right: -7px;}
	.mv_slide{top: 20%;}
	.tls_title h2{font-size: 1.6em;}
	.footnav{margin: 0 0 2em}
	.footnav,
	.footb_nav div{
	display: block;
	}
	.hms_head{
	padding: 1.5em 0 0;
	}
	.hms_nav_el{
	padding: 0 0 1em;
	border-bottom: 3px solid #fff;
	}
	.hms_nav_el.active{
	border-color: #002B69;
	}
	#tarLine{
	display: none;
	}
	.foot_bar a{
	padding: 0;
	}
	.footb_nav{
	float: initial;
	display: block;
	}
	.hwsc_nextprev > div, .timl_next, .timl_prev{
	width: 35px;
	height: 35px;
	line-height: 0;
	padding: 8px;
	}
	.mv_visual svg{
	position: absolute;
	bottom: -40%;
	right: -80%;
	height: 111%;
	min-height: auto;
	}
	.copyright{
		margin: 0 0 1rem;
	}
	.subscri_section{
		flex-direction: column;
	}
	.subscri_section > div{
		width: 100%;
	}
	.subs_signup{
		padding: 1rem 0 0;
	}
	.team_members{
		margin: 0 -10px;
	}
	.member{
		padding: 10px;
		width: 50%;
	}
	.member_des{
		padding: 10px;
	}
	.member_tit h3{
		background: #002B69;
		color: #fff;
		padding: .5rem;
		font-size: .8rem;
		height: 90px;
	}
	.member_tit{
		top: initial;
		bottom: 0;
	}
	.member:nth-child(n+3){
		width: 50%;
	}
	.team_head li{
		margin: 0 .5rem;
		font-size: 1rem;
	}
	.team_head ul{
		margin: 0 -.5rem;
	}
	.serv_main{
		flex-direction: column;
	}
	.serv_main > div{
		width: 100%;
	}
	.sermain_img{
		order: 1;
		height: 30vh;
	}
	.sermain_text{
		order: 2;
	}
	.sermain_text {
		padding: 3rem 5vw;
	}
	.anades_wrap{
		flex-direction: column;
	}
	.anades_cube {
		width: 35vw;
		height: 35vw;
	}
	.anades_1{
		display: flex;
		justify-content: space-around;
	}
	.anades_1 i{
		height: 2.2rem;
		z-index: -1;
	}
	.anades_1 > div:first-child i{
		bottom: 10vw;
		transform: rotate(90deg);
		right: 0;
		left: initial;
	}
	.anades_1 > div:last-child i{
		top: initial;
		bottom: 10vw;
		transform: rotate(-90deg);
		left: 0;
	}
	.anades_1 > div:first-child {
		margin-bottom: 5rem;
	}
	.anades_2{
		flex-direction: column;
		padding: 0;
		width: 100%;
	}
	.anades_2 i {
		left: 50%;
		transform: rotate(90deg);
		width: 26rem;
		margin: 0 0 0 -13rem;
		top: 4.6rem;
	}
	.srcta_point_wrap{margin: 0;}
	.anades_2 .anades_cube{
		margin: 0 0 6rem;
	}
	.srcta_point{
		width: 100%;
	}
	.srcta_point_wrap{
		flex-direction: column;
	}
	.ana_colordes_wrap > div{
		width: 100%;
		display: block;
	}
	.servcta_section .esbtn{
		margin: 2rem auto 0rem;
	}
	.sigtop_icon,
	.sigbtm_icon{
		display: block;
		text-align: center;
	}
	.sigpoin1_icon,
	.sigpoin2_icon{
		width: 49%;
		padding: 1rem;
		display: inline-block;
		vertical-align: top;
	}
	.smv_img{
		margin: 5rem 0 -5rem;
	}
	.off_gallery figure{
		width: 100%;
	}
	.pabt_sec5 {
		padding: 5rem 0 0;
	}
	.brandname_cont{
		width: 75%;
	}
	.blog_wrap{
		padding: 2rem 0;
	}
	.post_inner{
		flex-direction: column;
	}
	.post_thumb{
		width: 100%;
		order: 1;
	}
	.post_inner figure{
		height: 60vw;
	}
	.post_text{
		order: 2;
		width: 100%;
	}
	#pageContact,
	#pageBlog{
		padding: 4rem 0 0;
	}
	.contact_forms .es_wrap{
		padding: 2rem;
	}
	.form_tabs h2{
		width: 49%;
		padding: 1rem;
	}
	.form_tabs{
		text-align: center;
	}
	.cf7_form div.col2{
		width: 100%;
		padding: 0 !important;
	}
	.cf7_form .wpcf7-list-item-label{
		width: 85%;
		vertical-align: top;
	}
	.cf7_form div.submit{
		text-align: left;
	}
	.conpo_locations > div{
		padding: 1rem;
	}
	.contact_positions h2{
		text-align: center;
		margin: 0 0 1rem;
	}
	.conpo_locations > div{
		flex-direction: column;
	}
	.conpo_infos{
		width: 100%;
		order: 2;
	}
	.conpo_img{
		width: 100%;
		order: 1;
		height: 200px;
	}
	.contact_positions .hwsc_nextprev{
		width: 100%;
		text-align: center;
	}
	.contact_positions .hwsc_nextprev > div{
		margin: 1rem;
	}
	.contact_positions{
		padding: 0;
	}
	.worldmap{
		height: 25vh;
		background-attachment: initial;
	}
	.relapost{
		width: 100%;
	}
	.blogsingle{
		padding: 1rem;
	}
	.related_sec{
		padding: 2rem 0;
	}

	.inte_top p {
		height: 140px;
	}
	.inte_top > div{
		width: 100%;
		padding: 0;
	}
	.inte_top{
		text-align: center;
	}
	.inter_sli > div{
		padding: 2rem 1.5rem;
	}
	.blogtag > div{
		margin:0 5px 5px 0;
	}
	.step_lists{
		min-width: auto;
		min-height: auto;
		padding: 5rem 0 1rem;
	}
	.step_lists_wrap{height: auto;}
	.slist_circle.cir2:last-child,
	.slist_circle.cir5:nth-child(2),
	.slist_circle.cir5:nth-child(3),
	.slist_circle.cir5:nth-child(4),
	.slist_circle.cir5:nth-child(5),
	.step_lists,
	.slist_circle.cir2,
	.slist_circle.cir5,
	.slist_circle {
		position: relative;
		left: initial;
		top: initial;
		right: initial;
		margin: -2rem auto 0;
	}
	.tls_slide_obj > div {
		background: #fff;
		height: 100%;
		position: relative;
	}
	.tls_slide_obj {
		height: 128vw;
	}
	.tlsobj_text{
		height: 100%;
	}
	.tlsobj_img {
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.step_numbers {
		position: absolute;
		flex-direction: initial;
		margin: 0;
		width: 100%;
		height: 20px;
	}
}